*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.miao{
    height: 1000px;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-image: url("../public/images\ \(1\).jpg")
    
      
}